<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="../static/style.css" rel="stylesheet">
        <script src="../static/script.js"></script>

        <title>Game Day Grill: Burgers & More</title>
        <meta name="title" content="Game Day Grill: Burgers & More" />
        <meta name="description" content="Order online, view our menu, and learn more about Game Day Grill through our website!" />
        
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <!-- <meta property="og:url" content="https://metatags.io/" /> -->
        <meta property="og:title" content="Game Day Grill: Burgers & More" />
        <meta property="og:description" content="Order online, view our menu, and learn more about Game Day Grill through our website!" />
        <!-- <meta property="og:image" content="https://metatags.io/images/meta-tags.png" /> -->
        
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <!-- <meta property="twitter:url" content="https://metatags.io/" /> -->
        <meta property="twitter:title" content="Game Day Grill: Burgers & More" />
        <meta property="twitter:description" content="Order online, view our menu, and learn more about Game Day Grill through our website!" />
        <!-- <meta property="twitter:image" content="https://metatags.io/images/meta-tags.png" /> -->
    </head>

    <body>
        <header>
            <div class="grow">
                <p class="header-text">Game Day Grill</h1>
            </div>
            <div class="spaced-row">
                <p class="button sm">Order Now</p>
                <p class="button sm">Menu</p>
                <p class="button sm">Locations</p>
                <p class="button sm">Special Events</p>
            </div>
        </header>
        <main>
            <div class="presented">
                <div class="left-half-center">
                    <div class="presented-text">
                        <p class="lg">Great food. Great drinks.</p>
                        <p class="sm">See what makes us special. Visit our restuarants or order online today!</p>
                        <div class="spaced-row margin-top">
                            <p class="button sm">Order Now</p>
                            <p class="button sm">Locations</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 100vh"></div>
        </main>
        <footer>
            <!-- <nav>  
                <ul>
                    <li><a>Order Now</a></li>
                    <li><a>Menu</a></li>
                    <li><a>Locations</a></li>
                    <li><a>Special Events</a></li>
                    <li><a>About Us</a></li>
                </ul>
            
                <ul class = "right">
                    <li>Game Day Grill</li>
                    <li>5055 Delemere Street, Royal Oak, MI 48073</li>
                    <li>Email</li>
                    <li>Phone Number</li>
                </ul> -->

                <div class="row">
                    <div class="column">
                        <h2>GAME DAY GRILL</h2>
                        <ul>
                            <li><a>Order Now</a></li>
                            <li><a>Menu</a></li>
                            <li><a>Locations</a></li>
                            <li><a>Special Events</a></li>
                            <li><a>About Us</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h2>Column 2</h2>
                        <ul>
                            <li>Game Day Grill</li>
                            <li>5055 Delemere Street, Royal Oak, MI 48073</li>
                            <li>Email</li>
                            <li>Phone Number</li>
                        </ul>
                    </div>

            </nav>
            
        </footer>
    </body>
</html>