<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SLidehsow test</title>
<link rel = "stylesheet" href = "../static/slideshow.css">

</head>
<body>

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="../imgs/fish_and_chips.jpg" style="width:100%">
  <div class="text">FISH AND CHIPS FRIDAYS</div>
</div>

<div class="mySlides fade">
  
  <img src="../imgs/fish_and_chips.jpg" style="width:100%">
  <div class="text">THE MEAL</div>
</div>

<div class="mySlides fade">
  <img src="../imgs/big_burger_fries.jpg" style="width:100%">
  <div class="text">BURGER</div>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script src ="../static/slideshow.js"></script>

</body>
</html> 
