@font-face {
    font-family: sports_title;
    src: url(fonts/azn-unified.oblique.otf);
}
::-webkit-scrollbar {
    display: none;
  }
h1{
width: 100%;
text-align: center;
font-size: 7em;
color: white;
padding: 0;
margin: 1em 0 1em 0;
}
.EventStyle1{
    border-radius: 1em;
    background-color: #2e2e2e;
    margin:2em;
    padding: 1em 3em;
    width: calc(100% -4em);
    height: 30em;
    display: flex;
    box-sizing: border-box;
    gap: 2em;
}
.EventStyle1 img{
    border-radius: 1em;
    transform: rotate(90deg);
    margin: 0 0  0 0;
    width:auto;
    height: 28em;
}
.EventStyle1 .EventTextStyle1 p{
    margin: 0;
    font-size: 2.5em;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.EventStyle1 .EventTextStyle1 p span{
    color: #c92a2a;
    font-size: 3em;
    font-family: sports_title, bodytext, serif;
}

.EventStyle2{
    border-radius: 1em;
    background-color: #2e2e2e;
    margin:2em;
    padding: 1em 3em;
    width: calc(100% -4em);
    height: 30em;
    display: flex;
    box-sizing: border-box;
    gap: 2em;
}
.EventStyle2 img{
    border-radius: 1em;
    margin: 0 0  0 0;
    width:auto;
    height: 28em;
}
.EventStyle2 .EventTextStyle2 p{
    margin: 0;
    font-size: 2.5em;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.EventStyle2 .EventTextStyle2 p span{
    color: #c92a2a;
    font-size: 3em;
    font-family: sports_title, bodytext, serif;
}