.wrapper {
    padding: 6em 16em;

    display: flex;

    gap: 2em;
}

.ordering-pane {
    align-self: flex-start;
    flex-shrink: 0;

    width: 24em;
    /* flex: 0 0 20em; */
    /* min-width: 20em; */

    border: 1px solid #fff;

    border-radius: 1em;
}

.ordering-title {
    margin: 0;
    padding: 0.5em 0;

    width: 100%;
    text-align: center;

    border-bottom: 1px solid #fff;
}

.order-items {
    min-height: 7em;
}

.order-place-row {
    border-top: 1px solid #fff;

    padding: 1em 2em;
}

.order-info {
    flex-grow: 1;
}

.order-menus {
    flex-grow: 1;

    display: flex;

    gap: 1em;

    flex-wrap: wrap;
}

.order-menus div {
    min-width: 16em;
    width: calc(50% - 0.5em);

    background-color: var(--accent-color);

    border-radius: 1em;
}

.order-menus div img {
    width: 100%;

    border-radius: 1em 1em 0 0;
}

.order-menus div a {
    text-align: center;
    width: 100%;
    display: block;

    padding: 0.25em 0;
    margin: 0;

    font-size: 200%;
}

.location-selector {
    box-sizing: border-box;

    padding: 1em;

    width: 100%;

    background-color: #fff;

    border-radius: 1em;
}

.location-selector * {
    color: #000;
}

.location-selector > .center-row > .button:hover {
    background-color: #000 !important;
}

.on-white-button:hover {
    background-color: #000 !important;
    color: #fff !important;
}

select {
    background-color: #f1f3f5;

    border: 1px solid #adb5bd;

    padding: 1em;

    border-radius: 1em;

    font-size: 1em;

    font-family: bodytext, "Serif";
}

option {
    font-family: "Oswald", serif;
}

.center-row {
    display: flex;

    justify-content: center;

    width: 100%;
}