@font-face {
    font-family: Sports;
    src: url(../fonts/supers-sports.combined.otf);
}

@font-face {
    font-family: sports_title;
    src: url(../fonts/azn-unified.oblique.otf);
}

@font-face {
    font-family: bodytext;
    src: url(../fonts/forgotten-futurist.rg-regular.otf);
}
body {
    width: 100vw;

    margin: 0;
    padding: 0;

    /* background-color: #f8f9fa; */
    background-color: #242424;

    /* font-family: 'Oswald', sans-serif; */
    font-family: bodytext, serif;

    scrollbar-width: none;
    overflow-x: hidden;
}

p {
    margin: 0.25em 0;

    padding: 0em;
}

.lg {
    font-size: 4em;
}

.sm {
    font-size: 1.5em;
}

.lg, .sm { color: white; }

header {
    width: 100%;
    height: 5em;

    box-sizing: border-box;

    padding: 0.5em 3em;

    display: flex;

    position: fixed;

    /* background-color: #f8f9fa; */
    background-color: #332e2e;
    z-index: 100;
}

header div {
    height: 100%;

    display: flex;
    align-items:center;
}

.button {
    padding: 0.75em;

    color: #f8f9fa;
    background-color: #c92a2a;

    border-radius: 0.75em 0 0.75em 0;
}

.header-text {
    padding: 0;
    margin: 0;
    font-size: 3em;
    font-family: sports_title; 
    color: white;
}

.grow {
    flex-grow: 1;
}

.spaced-row {
    display: flex;

    gap: 1em;

    transform: skewX(-20deg);
}

main {
    padding-top: 5em;
    font-family: bodytext;
}

.presented {
    height: 45em;
    /*background-color: #ced4da;*/
    background-image: url("imgs/big_burger_fries.jpg");
    /* background-size: contain; */
    background-size:cover;
    background-position: 100% 70%;
    background-repeat: no-repeat;
    background-color: #332e2e;
    overflow: hidden;
   
}

.left-half-center {
    width: 50%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.presented-text {
    width: 25em;
}

.margin-top {
    margin-top: 1em;
}

.button.sm ,.button.sm:visited{
    transition: .5s;
    
    text-decoration: none;
    background-color: #c92a2a;
    color: #e6e6e6;
    border: 0;
}
.button.sm:hover{
    background-color: #ffffff;
    text-decoration: none;
    color: black;
    border: 0;
}
.Cards{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

.Cards .card{
    height: 15em;
    width: 29em;
    border-radius: 1em;
    background-color: #303030;
    text-align: center;
    text-decoration: none;
    color: white;
    background-size: cover;
    transition: 0.6s;
}
.Cards .card p{
    position: relative;
    top: 1em;
    font-family: bodytext;
    font-size: 4em;
    opacity: 100%;
    z-index: 5;
}

.card#C1:hover{
    background-image: url(imgs/Ipad.jpeg);
    background-position: 100% 65%;
}
.card#C2:hover{
    background-image: url(imgs/Burger.jpeg);
    background-position: 25% 65%;
}
.card#C3:hover{
    background-image: url(imgs/Location.jpeg);
    background-position: 25% 65%;
    color:black;
}
.card#C4:hover{
    background-image: url(imgs/People.jpeg);
    background-position: 25% 65%;
}