@font-face {
    font-family: font_sports_title;
    src: url(fonts/azn-unified.oblique.otf);
}
::-webkit-scrollbar {
    display: none;
  }
h2{
font-family: font_sports_title, font_body, serif;
width: 80%;
text-align: center;
font-size: 7em;
color: white;
padding: 0;
margin: .5em 10% .5em 10%;
padding: .5em 0 .5em 0;
background-image: url(imgs/wood.webp);
background-size: cover;
/* border-radius: .75em 0 .75em 0; */
border-radius: .5em;
}

.main-grid {
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    border-radius: .5em;
  }
  .main-grid > div {
    background-color:#353535;
    color: white;
    font-size: 1.5em;
    padding: 0.75em;
    grid-column: span 1;
  }

  .main-grid-inner {
    display: grid;
    grid-template-rows: repeat(1, 3fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
   }

   .main-grid-inner > div { 
    background-color: #353535;
    /*353535*/
    color: white;
    font-size: 1.5em;
    padding: 0em;
    grid-column: span 1;
    
   }

   .main-grid-inner > div > h1 { color: var(--red); font-family: font_sports_title; text-align: center; font-size: 3em; padding: 0; margin: 0}
   .main-grid-inner > div > p { margin: 1em 0; }

   .main-grid-inner > div > img { aspect-ratio: 4/3; height: 15em; object-fit: cover;}

   .main-grid-inner-text { text-align: center;}

   .main-grid-inner-image { text-align: right;}

.main-grid-inner-image > img{ object-fit: cover;}


/* .EventStyle1{
    border-radius: 1em;
    background-color: #2e2e2e;
    margin:4em 2em 2em 4em;
    padding: 1em 2em;
    width: calc(100% -4em);
    height: 30em;
    display: flex;
    box-sizing: border-box;
    gap: 2em;
}
.EventStyle1 img{
    border-radius: 1em;
    margin: 0;
    width:auto;
}
.EventStyle1 .EventTextStyle1 p{
    margin: 0;
    font-size: 2.5em;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.EventStyle1 .EventTextStyle1 p span{
    color: #c92a2a;
    font-size: 3em;
    font-family: font_sports_title, font_body, serif;
}
#Calbutton{
position: absolute;
left:25%;
top: 80%;
padding: 1em;
height: auto;
width: auto;
padding: 0.75em;
color: #f8f9fa;
background-color: #c92a2a;
border-radius: 0.75em 0 0.75em 0;
font-size: 2em;
transform: skewX(-20deg);
text-decoration: none;
}

.EventStyle2{
    border-radius: 1em;
    background-color: #2e2e2e;
    margin:4em 2em 2em 4em;
    padding: 1em 3em;
    width: calc(100% -4em);
    height: 30em;
    display: flex;
    box-sizing: border-box;
    gap: 2em;
}
.EventStyle2 img{
    border-radius: 1em;
    margin: 0 0  0 0;
    width:auto;
}
.EventStyle2 .EventTextStyle2 p{
    margin: 0;
    font-size: 2.5em;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.EventStyle2 .EventTextStyle2 p span{
    color: #c92a2a;
    font-size: 3em;
    font-family: font_sports_title, font_body, serif;
}
#Wings img{
    transform: rotate(90deg);
    border-radius: 1em;
    margin: 0;
    width:auto;
    height: 27em;
}
#Mic img{
    border-radius: 1em;
    margin: 0;
    width:auto;
    height: 28em;
}
#Trivia img{
    border-radius: 1em;
    margin: 0;
    width:auto;
    height: 27em;
}
#Charity img {
    border-radius: 1em;
    margin: 0;
    width:auto;
    height: 26em;
}
#Band img{
    border-radius: 1em;
    margin: 0;
    width:auto;
    height: 27em;
}
#New-years img{

} */



