@font-face {
    font-family: sports_title;
    src: url(fonts/azn-unified.oblique.otf);
}

.main-grid {
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    border-radius: .5em;
  }
  .main-grid > div {
    background-color:#353535;
    color: white;
    font-size: 1.5em;
    padding: 0.75em;
    grid-column: span 1;
  }

  .main-grid-inner {
    display: grid;
    grid-template-rows: repeat(1, 3fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
   }

   .main-grid-inner > div { 
    background-color: #353535;
    /*353535*/
    color: white;
    font-size: 1.5em;
    padding: 0em;
    grid-column: span 1;
    
   }

   .main-grid-inner > div > h1 { color: var(--red); font-family: sports_title; text-align: center; font-size: 3em; padding: 0; margin: 0}
   .main-grid-inner > div > p { margin: 1em 0; }

   .main-grid-inner > div > img { aspect-ratio: 4/3; height: 16em; object-fit: cover; display: flex; justify-content: center;}

   .main-grid-inner-text { text-align: center;}
   .main-grid-inner-text ul {list-style-type: none; text-align: center;}

   .main-grid-inner-image { text-align: right;}

.main-grid-inner-image > img{ object-fit: cover;}

.hero
{
    background-image: url(imgs/main/hero-darkened.webp);
    /* background-image: url(imgs/main/bacon-burger.jpg); */
    background-size: cover;
    text-align: center;
    align-items: center;
    height: 75vh;
    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.hero-container
{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75vw;
  font-size: 2em;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.75);
}

.hero-item {
  width: 48%;
  height: 15vh;
  margin-bottom: 2%;
  text-align: center; 
  align-items: center;
  overflow: hidden;
  align-items: center;
  text-decoration: none;
  color:white;
}

a:link{
  text-decoration: none;
  color:white;}
a:visited{text-decoration: none;}

.hero-button
{
  text-decoration: none;
  color:white;
  font-size: 170%;
}



.hero-title
{
  font-size: 2.5em;
  -webkit-text-stroke-width: 3px; 
  -webkit-text-stroke-color: black;
  color:white;
}

@media screen and (max-width: 1048px) {
  .hero-title{
    background-color:red;
    font-size: 1.5em; 
  }
}



.hero-item:nth-child(3n - 2) {
  width: 100%;
}

main{ padding: 0;}

/* nb = non bootstrap */
/* bc bootstrap has row and column classes */
.nb-row { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  color: white;
}

.nb-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color: #353535;
  text-align: center;
  justify-content: center;
  gap: 3px;
  margin: 2px;
}

.stars 
{
  font-size: 2em;
  color: white;
}

.home-container {
  padding: 1em;
}