@font-face {
    font-family: sports_title;
    src: url(fonts/azn-unified.oblique.otf);
}

.main-grid {
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
    border-radius: .5em;
  }
  .main-grid > div {
    background-color:#353535;
    color: white;
    font-size: 1.5em;
    padding: 0.75em;
    grid-column: span 1;
  }

  .main-grid-inner {
    display: grid;
    grid-template-rows: repeat(1, 3fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
   }

   .main-grid-inner > div { 
    background-color: #353535;
    /*353535*/
    color: white;
    font-size: 1.5em;
    padding: 0em;
    grid-column: span 1;
    
   }

   .main-grid-inner > div > h1 { color: var(--red); font-family: sports_title; text-align: center; font-size: 3em; padding: 0; margin: 0}
   .main-grid-inner > div > p { margin: 1em 0; }

   .main-grid-inner > div > img { aspect-ratio: 4/3; height: 16em; object-fit: cover; display: flex; justify-content: center;}

   .main-grid-inner-text { text-align: center;}
   .main-grid-inner-text ul {list-style-type: none; text-align: center;}

   .main-grid-inner-image { text-align: right;}

.main-grid-inner-image > img{ object-fit: cover;}

.hero
{
    background-image: url(imgs/main/hero-darkened.webp);
    /* background-image: url(imgs/main/bacon-burger.jpg); */
    background-size: cover;
    text-align: center;
    align-items: center;
    height: 75vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw;
  background-color: green;
  margin: auto;
  
}
.grid-title { 
  grid-column: span 2; 
}
.box {
  color: white;
  background: gold;
  text-align: center;
  margin:auto;
  padding: 5px;
  text-align: center;

}

main{ padding: 0;}