.loc-row{
    display: flex;
    flex-flow: row;
    background-color:  #121215;
    color: white;
    
}
.loc-column { 
    display: flex;
    flex-flow: column;
    width: 50vw;
    height: 85vh;
    overflow:hidden;
}
.button{
    margin: 5px;
}

.location{
    text-align: center;
    background-color:  #2f2f3b;
    margin: 3px;
    padding: 0.75em;
}
.location:hover 
{
    background-color: #3e3e4d;
}

.map
{
    height: 85vh;
}

@media screen and(max-width: 1048px) {
    .loc-row {
        flex-flow: column-reverse;}
    }






.phone{
    /* width: 15em;
    height: auto;
    display: flex;
    position: relative;
    left: 9.5em;
    top: -2em;
    font-size: 3em;
    text-align: left;
    text-shadow: 2px 1px 2px black; */
    color:#c92a2a
}

button{
    color: white;
    background-color:#c92a2a;
    border: 0;
    border-radius:0.75em 0 0.75em 0;
    transition: .3s;
}
button:hover{
    color: black;
    background-color:white;
    border: 0;
    transition: .3s;
    border-radius:0.75em 0 0.75em 0;
}

h1{
margin: 0;
}
p{margin: 1em;}
a{margin: 1em;}