


.loc-row{
    display: flex;
    flex-flow: row;
    background-color: #121215;
    color: white;
    
}
.loc-column { 
    display: flex;
    flex-flow: column;
    width: 50vw;
    height: 85vh;
    overflow:hidden;
    border:solid 3px #121215;
}


.button{
    margin: 5px;
    text-align: center;
    padding: 50%;
}

.location{
    text-align: center;
    background-color: #2f2f3b;
    /*#1f1f27*/
    margin: 3px;
    padding: 0.75em;
}
.location:hover 
{
    background-color: #3e3e4d;
}

.map
{
    height: 85vh;
}

@media screen and(max-width: 1048px) {
    .loc-row{
        flex-flow: column-reverse;
    }

    
}
.phone, .phone:visited{
    color: white;
    text-decoration: underline;
}
