/*COLORS*/
:root {
    --red: #c92a2a;
    --orange: #ee8730;
  }


/*FONTS*/

@font-face {
    font-family: Sports;
    src: url(fonts/supers-sports.combined.otf);
}
.font-sports{
    font-family: Sports;
}

@font-face {
    font-family: sports_title;
    src: url(fonts/azn-unified.oblique.otf);
}
.font-sports-title{
    font-family: sports_title;
}

@font-face {
    font-family: bodytext;
    src: url(fonts/forgotten-futurist.rg-regular.otf);
}
.font-body{
    font-family: bodytext;
}

html { scroll-behavior: smooth; background-color: #242424;}

.title{
    font-size: 2em;
    color:white;
}

.caps
{
    text-transform: uppercase;
}

nav{margin: 0; background-color: red;}

.nav-item {
    font-size: 120%;
    margin: 5px;
    border-radius: 10px 0 10px 0;
    background-color: #c92a2a;
    transition: background-color .2s;
    transform: skewX(-20deg) translateX(-0.55em);
    text-decoration: none;
    color: white;
}

.nav-item:hover{
    background-color: #ee8730;
    transition: background-color .2s;
}

.dropdown-item
{
    color: black;
}
.dropdown-item{
    transition: background-color 2s; 
}







/*CUSTOM SCROLLBAR*/

/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #171717; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2e2e2e; 
    border-radius: 1em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #494949; 
  }




body {
    width: 100vw;

    margin: 0;
    padding: 0;

    /* background-color: #f8f9fa; */

    font-family: bodytext, sans-serif;

    scrollbar-width: none;
    overflow-x: hidden;
}



.button {
    padding: 0.75em;

    color: #f8f9fa;
    background-color: #c92a2a;

    border-radius: 0.75em 0 0.75em 0;

    /* 2.5em per 90 degrees of skew, so for 20, its (20/90, 0.222)% of 2.5 */

    transform: skewX(-20deg) translateX(-0.55em);

    user-select: none;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    transition: .3s;

    cursor: pointer;
}

/* .button:visited{
    color: #f1f3f5;
} */


.button:hover{
    background-color:#ee8730;
    text-decoration: none;

    border: 0;

    transform: scale(1.05) skewX(-20deg) translateX(-0.55em);
    transition: 0.4s;
}

.centered { width: 80%; margin: auto; text-align: center;} 

.centered-title {
    font-family: sports_title; 
    color: white;
    margin: auto;
    width: 80%;
    text-align: center;
    padding: .5em 0;
    font-size: 5em;
    
 }

 .centered-subtitle {
    font-family: bodytext;
    color: #ffffff;
    margin: auto;
    margin-top: 0;
    width: 50%;
    text-align: center;
    padding: .5em 0;
    font-size: 2.5em;
    
 }

 .contact {  color: white; font-family: bodytext;}

 footer {
    background-color: #c92a2a;
    color: white;
    margin: auto;
    width: 100vw;
    font-size: .35em;
    height: 50vh;
    
}

.footer-grid {
    display: grid;
    grid-template-rows: repeat(1, 3fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0em;
    /* margin-left: 3em;
    margin-right: 3em; */
  }
  .footer-grid > div {
    background-color: #c92a2a;
    color: white;
    font-size: 4em;
    padding: .5em;
    grid-column: span 1;
    width: 45vw;
    height: 30vh; 
  }

footer h1 { margin-top: 0; margin-bottom: 0;}

footer img { height: 30vh; 
    margin-top: 0; margin-bottom: 0;
float: left;}


.grow {
    flex-grow: 1;
}

header {
    width: 100%;
    height: 6em;

    box-sizing: border-box;

    /* padding: 0.5em 3em; */

    padding: 0.75em 0.75em;

    display: flex;

    position: fixed;
     
    background-color: #171717;
    z-index: 100;

    user-select: none;
}

header div {
    height: 100%;

    display: flex;
    align-items:center;

}



.header-text {
    padding: 0;
    margin: 0.25em;
    font-size: 3em;
    font-family: sports_title; 
    color: white;
    white-space: nowrap;
    
}

/*Inline lists for footer links*/
.inline { margin-top: .5em; margin-bottom: .5em;}
.inline li {display: inline-block; font-family: bodytext; text-decoration: none;}
.inline a { color: white;}
.inline img {height: 1.5em; margin: .25em;} 

.lg {
    font-size: 4em;
font-family: sports_title;
}


.left-half-center {
    width: 50%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lg, .sm { color: white; }


.logo { height: 5em; width: 5em; margin: 0;}
#logoB{padding: 0; background: none;border: none;}

main {
    font-family: bodytext;
    background-color: #242424;
}


.margin-top {
    margin-top: 1em;
}

p {
    margin: 0.25em 0;

    padding: 0em;
}


.presented {
    height: 40em;
    /*background-color: #ced4da;*/
    background-image: url("imgs/main/bacon-burger.jpg");
    /* background-size: contain; */
    background-size: cover;
    /* background-position: 100% 80%; */
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-color: #171717;
    overflow: hidden;
   
}

.presented-text {
    width: 30em;
}


.sm {
    font-size: 1.5em;
}
 
.spaced-row {
    display: flex;

    gap: 1em;

    /* transform: skewX(-20deg); */
}




